<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="../static/images/favicon.png" sizes="128x128" type="image/png">
  <link rel="stylesheet" href="../static/css/style-home.css" type="text/css">
  <title>HotCoffee - Home page</title>
</head>
<body>
  <header class="header">
    <div class="header-footer-content">
      <a class="logo link" href="./home-page.html">HotCoffee</a>
      <nav class="nav">
        <form class="form">
          <button class="button" type="submit"></button>
          <input class="input" type="text" placeholder="Search...">
        </form>
        <ul class="nav-list">
          <li class="nav-list__item"><a class="nav-list__link link" href="../templates/home-page.html">Home</a></li>
          <li class="nav-list__item"><a class="nav-list__link link" href="../templates/details.html">Articles</a></li>
          <li class="nav-list__item"><a class="nav-list__link link" href="https://instagram.com"><img src="../static/icons/instagram.svg" alt="Instagram" title="Instagram"></a></li>
          <li class="nav-list__item"><a class="nav-list__link link" href="https://twitter.com"><img src="../static/icons/twitter.svg" alt="Twitter" title="Twitter"></a></li>
          <li class="nav-list__item"><a class="nav-list__link link" href="https://linkedin.com"><img src="../static/icons/linkedin.svg" alt="LinkedIn" title="LinkedIn"></a></li>
        </ul>
      </nav>
    </div>
  </header>
  <main>
    <section class="hero">
      <div class="hero-content">
        <div class="hero-title">
          <h1 class="h1">Make better coffee</h1>
          <p class="hero-title-description">why learn how to blog?</p>
        </div>
        <img class="croods-1" src="../static/images/croods 1.png" alt="croods 1">
      </div>
    </section>
    <section class="cards">
      <div class="card_size_m">
        <img class="card__image_size_m" src="../static/images/image 1.png" alt="card image">
        <div class="card__text-block_size_m">
          <h2 class="card__title_size_m">long established</h2>
          <p class="card__description_size_m">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that....</p>
          <div class="card__caption">
            <span class="card__date_size_s">May 20th 2020</span>
            <a class="card__link_size_s link" href="./details.html">Read more</a>
          </div>
        </div>
      </div>
      <div class="card_size_s">
        <img class="card__image_size_s" src="../static/images/image 3.png" alt="card image">
        <div class="card__text-block_size_s">
          <h2 class="card__title_size_s">long established</h2>
          <p class="card__description_size_s">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that....</p>
          <div class="card__caption">
            <span class="card__date_size_s">May 20th 2020</span>
            <a class="card__link_size_s link" href="./details.html">Read more</a>
          </div>
        </div>
      </div>
      <div class="card_size_s">
        <img class="card__image_size_s" src="../static/images/image 4.png" alt="card image">
        <div class="card__text-block_size_s">
          <h2 class="card__title_size_s">long established</h2>
          <p class="card__description_size_s">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that....</p>
          <div class="card__caption">
            <span class="card__date_size_s">May 20th 2020</span>
            <a class="card__link_size_s link" href="./details.html">Read more</a>
          </div>
        </div>
      </div>
      <div class="card_size_s">
        <img class="card__image_size_s" src="../static/images/image 5.png" alt="card image">
        <div class="card__text-block_size_s">
          <h2 class="card__title_size_s">long established</h2>
          <p class="card__description_size_s">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that....</p>
          <div class="card__caption">
            <span class="card__date_size_s">May 20th 2020</span>
            <a class="card__link_size_s link" href="./details.html">Read more</a>
          </div>
        </div>
      </div>
    </section>
    <section class="lorem">
      <div class="card_size_l">
        <img class="card__image_size_l" src="../static/images/image 7.png" alt="card image">
        <div class="card__text-block_size_l">
          <h2 class="card__title_size_l">What is Lorem Ipsum?</h2>
          <p class="card__description_size_l">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution...</p>
          <div class="card__caption">
            <span class="card__date_size_l">May 20</span>
            <a class="card__link_size_l link" href="./details.html">Read more</a>
          </div>
        </div>
      </div>
      <a class="link_button link" href="./details.html">See more<img src="../static/icons/arrow_down.svg"></a>
    </section>
  </main>
  <footer class="footer">
    <hr class="footer-line">
    <div class="header-footer-content">
      <p class="copyright"><b>hotcoffee</b> 2020 copyright all rights reserved</p>
      <nav class="nav">
        <ul class="nav-list">
          <li class="nav-list__item"><a class="nav-list__link link" href="https://instagram.com"><img src="../static/icons/instagram.svg" alt="Instagram" title="Instagram"></a></li>
          <li class="nav-list__item"><a class="nav-list__link link" href="https://twitter.com"><img src="../static/icons/twitter.svg" alt="Twitter" title="Twitter"></a></li>
          <li class="nav-list__item"><a class="nav-list__link link" href="https://linkedin.com"><img src="../static/icons/linkedin.svg" alt="LinkedIn" title="LinkedIn"></a></li>
        </ul>
      </nav>
    </div>
  </footer>
</body>
</html>