<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="../static/images/favicon.png" sizes="96x96" type="image/png">
  <link rel="stylesheet" media="screen and (min-width: 1300px)" href="../static/css/style-desktop.css">
  <link rel="stylesheet" media="screen and (max-width: 1300px)" href="../static/css/style-mobile.css">
  <title>IC "Repair Design Project"</title>
</head>
<body>
  <header class="header">
    <div class="header-footer-content">
      <div class="logo">
        IC "Repair Design Project"
      </div>
      <nav>
        <ul class="nav-list">
          <li class="nav-list__item"><a class="nav-list__link" href="./index.html">HOME</a></li>
          <li class="nav-list__item"><a class="nav-list__link" href="./index.html#projects">PROJECTS</a></li>
          <li class="nav-list__item"><a class="nav-list__link" href="./index.html#measurement">MEASUREMENT</a></li>
          <li class="nav-list__item"><a class="nav-list__link" href="#">TEAM</a></li>
          <li class="nav-list__item"><a class="nav-list__link" href="./index.html#reviews">REVIEWS</a></li>
          <li class="nav-list__item"><a class="nav-list__link" href="./index.html#contacts">CONTACTS</a></li>
        </ul>
      </nav>
      <a class="tel" href="tel:+79287683239">+7 (928) 768-32-39</a>
      <button class="button">Request a call</button>
    </div>
  </header>
  <main class="main">
      <section class="hero">
        <div class="hero-content">
          <h1 class="hero-title">
            Turnkey Repair in the<br>city of <span>Rostov-on-Don</span>
          </h1>
          <p class="hero-text">
            Get ready-made turnkey repairs on time
            <br>with work time saving up to 45 days and 20% from
            <br>cost of materials due to the organization of work
          </p>
          <button class="button">CALCULATE THE COST</button><button class="button">SUBMIT YOUR APPLICATION</button>
        </div>
      </section>
      <section class="projects" id="projects">
        <div class="projects-content">
          <div class="projects-title-area">
            <h2 class="title">Completed<br>projects</h2>
            <p class="projects-text">
              Only a small part of the work performed by our company is presented
              on the site. For 14 years on in the construction
              <br>market we have made happy more than 1000 families
            </p>
          </div>
          <div class="projects-links-area">
            <a class="project-link" href="#">Rostov-on-Don, Admiral</a>
            <a class="project-link" href="#">Sochi Thieves</a>
            <a class="project-link" href="#">Rostov-on-Don Patriotic</a>
          </div>
          <div class="projects-info-area1">
            <h4 class="info-title projects-info-title">City:</h4>
            <p class="projects-info-text">Rostov-on-Don<br>LCD admiral</p>
          </div>
          <div class="projects-info-area2">
            <h4 class="info-title projects-info-title">apartment area:</h4>
            <p class="projects-info-text">81 m2</p>
          </div>
          <div class="projects-info-area3">
            <h4 class="info-title projects-info-title">Repair time:</h4>
            <p class="projects-info-text">3.5 months</p>
          </div>
          <div class="projects-info-area4">
            <h4 class="info-title projects-info-title">Repair Cost:</h4>
            <p class="projects-info-text">Upon request</p>
          </div>
          <div class="projects-switch-area">
            <button class="arrow-button"></button>
            <button class="dot-button"></button>
            <button class="dot-button"></button>
            <button class="dot-button"></button>
            <button class="arrow-button"></button>
          </div>
          <div class="project-image-area">
            <div class="arrow-button-mobile"></div>
            <div class="arrow-button-mobile"></div>
          </div>
        </div>
      </section>
      <section class="online-control">
        <div class="online-control-content">
          <div class="subtitle">
            <h3 class="subtitle__text subtitle__text_white">online control</h3>
            <div class="subtitle__illustration">
              <div class="subtitle__underline"></div>
              <div class="subtitle__icon subtitle__icon_cam"></div>
              <div class="subtitle__underline"></div>
            </div>
          </div>
          <div class="video-box">
            <button class="play-button">
              <svg class="play-button-triangle" width="28" height="28">
                <polygon points="7,2 28,14 7,26" style="fill: #FFFFFF;" />
              </svg>
              <svg class="play-button-triangle-mobile" width="12" height="12">
                <polygon points="3,0 12,6 3,12" style="fill: #FFFFFF;" />
              </svg>
            </button>
          </div>
          <hr class="line">
          <p class="online-control-text">
            At each facility, a camera is installed that broadcasts the progress of work on the clock. At any time, you can go to our website and monitor the progress of work in your apartment. You can watch the live broadcast from one of our facilities!
            <br>Leave a request below and you will receive a link to the broadcast.
          </p>
          <form class="online-control-form">
            <label class="input-label input-label-gray">
              <span>Name</span>
              <br><input class="input input-gray input-narrow" type="text" required placeholder="What is your name:">
            </label>
            <label class="input-label input-label-gray">
              <span>Phone</span>
              <br><input class="input input-gray input-narrow" type="tel" required placeholder="Your phone number:">
            </label>
            <button class="button">Submit</button>
            <label class="checkbox-label checkbox-label-gray">
              <input class="checkbox checkbox-gray" type="checkbox" required value="yes">
              <span></span>
              <span>I agree to the processing of personal data</span>
            </label>
          </form>
        </div>
      </section>
      <section class="types-of-repair" id="measurement">
        <div class="types-of-repair-content">
          <div class="subtitle">
            <h3 class="subtitle__text subtitle__text_black">TYPES OF REPAIR</h3>
            <div class="subtitle__illustration">
              <div class="subtitle__underline"></div>
              <div class="subtitle__icon subtitle__icon_tools"></div>
              <div class="subtitle__underline"></div>
            </div>
          </div>
          <div class="types-of-repair-cards">
            <div class="repair-card repair-card_redecorating">
              <div class="repair-card__info">
                <h4 class="repair-card__info-title">Redecorating</h4>
                <ul class="repair-card__info-list">
                  <li>Dismantling of old coatings</li>
                  <li>Wallpapering</li>
                  <li>Painting walls and ceilings</li>
                  <li>Laying flooring</li>
                  <li>Replacing plumbing</li>
                  <li>Replacing sockets and switches</li>
                  <li>Replacing doors</li>
                </ul>
              </div>
              <div class="repair-card__price">
                <span>from 900 rub / m2</span>
              </div>
            </div>
            <div class="repair-card repair-card_oferhaul">
              <div class="repair-card__info">
                <h4 class="repair-card__info-title">Overhaul</h4>
                <ul class="repair-card__info-list">
                  <li>Dismantling of old coatings</li>
                  <li>Wallpapering</li>
                  <li>Painting walls and ceilings</li>
                  <li>Laying flooring</li>
                  <li>Replacing plumbing</li>
                  <li>Replacing sockets and switches</li>
                  <li>Replacing doors</li>
                </ul>
              </div>
              <div class="repair-card__price">
                <span>from 1800 rub / m2</span>
              </div>
            </div>
            <div class="repair-card repair-card_designer-repair">
              <div class="repair-card__info">
                <h4 class="repair-card__info-title">Designer Repair</h4>
                <ul class="repair-card__info-list">
                  <li>Dismantling of old coatings</li>
                  <li>Wallpapering</li>
                  <li>Painting walls and ceilings</li>
                  <li>Laying flooring</li>
                  <li>Replacing plumbing</li>
                  <li>Replacing sockets and switches</li>
                  <li>Replacing doors</li>
                </ul>
              </div>
              <div class="repair-card__price">
                <span>from 4000 rub / m2</span>
              </div>
            </div>
          </div>
          <div class="measurement-service">
            <div class="measure">
              <div class="measure-item">
                <div class="measure-item__circle">01</div>
                <p class="measure-item__text">
                  Our specialist will arrive for measurements per day
                  <br>contact, or appoint a date convenient for you
                </p>
              </div>
              <div class="measure-item">
                <div class="measure-item__circle">02</div>
                <p class="measure-item__text">
                  Free metering
                </p>
              </div>
              <div class="measure-item">
                <div class="measure-item__circle">03</div>
                <p class="measure-item__text">
                  Free consultation
                </p>
              </div>
              <div class="measure-item">
                <div class="measure-item__circle">04</div>
                <p class="measure-item__text">
                  Get a cost estimate and
                  <br>the timing of your future repairs
                </p>
              </div>
            </div>
            <form class="measure-form">
              <p>
                Leave a request for free
                <br>departure of the measurer
              </p>
              <label class="input-label input-label-white">
                <span>Name</span>
                <br><input class="input input-white input-wide" type="text" required placeholder="What is your name:">
              </label>
              <label class="input-label input-label-white">
                <span>Phone</span>
                <br><input class="input input-white input-wide" type="tel" required placeholder="Your phone number:">
              </label>
              <label class="input-label input-label-white">
                <span>Email</span>
                <br><input class="input input-white input-wide" type="email" required placeholder="Your email:">
              </label>
              <label class="checkbox-label checkbox-label-white">
                <input class="checkbox checkbox-white" type="checkbox" required value="yes">
                <span></span>
                <span>I agree to the processing of personal data</span>
              </label>
              <button class="button">Call the measurer</button>
            </form>
            <div class="piggy-bank">
              <div class="piggy-bank__circle"></div>
              <p class="piggy-bank__text">
                Help save 10 - 20% of the 
                <br>cost of materials
              </p>
            </div>
          </div>
          <h2 class="title mobile-title">
            We realize your
            <br>wildest fantasies
          </h2>
          <div class="fantasies-image-mobile">
            <div class="arrow-button-mobile"></div>
            <div class="arrow-button-mobile"></div>
          </div>
        </div>
        <div class="fantasies-background">
          <div class="types-of-repair-content">
            <div class="fantasies">
              <h2 class="title">
                We realize your
                <br>wildest fantasies
              </h2>
              <a class="fantasies-link" href="#">American classic</a>
              <a class="fantasies-link" href="#">Empire</a>
              <a class="fantasies-link" href="#">Classical</a>
              <a class="fantasies-link" href="#">Loft</a>
              <a class="fantasies-link" href="#">Minimalism</a>
              <a class="fantasies-link" href="#">Provence</a>
              <a class="fantasies-link" href="#">Romanticism</a>
              <a class="fantasies-link" href="#">Scandinavian style</a>
              <a class="fantasies-link" href="#">Mediterranean style</a>
              <a class="fantasies-link" href="#">High tech</a>
              <a class="fantasies-link" href="#">Eclecticism</a>
            </div>
            <div class="fantasies-images">
              <div class="fantasies-image fantasies-image-1"></div>
              <div class="fantasies-image fantasies-image-2"></div>
              <div class="fantasies-image fantasies-image-3"></div>
              <div class="fantasies-image fantasies-image-4"></div>
            </div>
          </div>
        </div>
      </section>
      <section class="our-clients" id="reviews">
        <div class="our-clients-content">
          <div class="subtitle">
            <h3 class="subtitle__text subtitle__text_black">our clients</h3>
            <div class="subtitle__illustration">
              <div class="subtitle__underline"></div>
              <div class="subtitle__icon subtitle__icon_hands"></div>
              <div class="subtitle__underline"></div>
            </div>
          </div>
          <p class="our-clients-text">
            80% of our customers recommend us to their
            <br>friends and family.
          </p>
          <div class="our-clients-cards">
            <div class="client-card">
              <div class="client-card__title-block">
                <div class="client-card__photo client-card__photo_fedosova"></div>
                <h4 class="client-card__info-title info-title">
                  Fedosova Maria
                  <br>Konstantinovna
                </h4>
              </div>
              <p class="client-card__info-text">
                I want to thank the guys for their work. We put your shower part in repair. I am very grateful that I referred to the repair as to my own. Great thanks I express the project to Georgia for its professionalism and approach.
              </p>
              <p class="client-card__info-text">
                The repair process was turned out in terms, faster than anticipated. Team mobile and professional. Works performed qualitatively without comments. Quality satisfied. Prices democratic. I recommend these masters.
              </p>
              <div class="client-card__decal">
                <span class="client-card__decal-square">40 m2</span>
                <span class="client-card__decal-period">48 DAYS</span>
              </div>
            </div>
            <div class="client-card">
              <div class="client-card__title-block">
                <div class="client-card__photo client-card__photo_afanasyev"></div>
                <h4 class="client-card__info-title info-title">
                  Afanasyev Sergey
                  <br>Alexandrovich
                </h4>
              </div>
              <p class="client-card__info-text">
                I want to thank the guys for their work. We put your shower part in repair. I am very grateful that I referred to the repair as to my own. Great thanks I express the project to Georgia for its professionalism and approach.
              </p>
              <p class="client-card__info-text">
                The repair process was turned out in terms, faster than anticipated. Team mobile and professional. Works performed qualitatively without comments. Quality satisfied. Prices democratic. I recommend these masters.
              </p>
              <div class="client-card__decal">
                <span class="client-card__decal-square">90 м2</span>
                <span class="client-card__decal-period">128 DAYS</span>
              </div>
            </div>
            <div class="client-card">
              <div class="client-card__title-block">
                <div class="client-card__photo client-card__photo_kiriev"></div>
                <h4 class="client-card__info-title info-title">
                  Kiriev Egor
                  <br>Leonidovich
                </h4>
              </div>
              <p class="client-card__info-text">
                I want to thank the guys for their work. We put your shower part in repair. I am very grateful that I referred to the repair as to my own. Great thanks I express the project to Georgia for its professionalism and approach.
              </p>
              <p class="client-card__info-text">
                The repair process was turned out in terms, faster than anticipated. Team mobile and professional. Works performed qualitatively without comments. Quality satisfied. Prices democratic. I recommend these masters.
              </p>
              <div class="client-card__decal">
                <span class="client-card__decal-square">56 м2</span>
                <span class="client-card__decal-period">86 DAYS</span>
              </div>
            </div>
          </div>
        </div>
        <div class="our-clients-background-container">
          <div class="our-clients-background our-clients-background-left"></div>
          <div class="our-clients-background our-clients-background-right"></div>
        </div>
      </section>
      <section class="contacts" id="contacts">
        <div class="contacts-content">
          <form class="contacts-form">
            <h3 class="contacts-form-subtitle">
              have any questions?
            </h3>
            <label class="input-label input-label-white">
              <span>Name</span>
              <br><input class="input input-white input-narrow" type="text" required placeholder="What is your name:">
            </label>
            <label class="input-label input-label-white">
              <span>Phone</span>
              <br><input class="input input-white input-narrow" type="tel" required placeholder="Your phone number:">
            </label>
            <label class="input-label input-label-white">
              <span>Question</span>
              <br><input class="input input-white input-extra-wide" type="text" required placeholder="I want to know:">
            </label>
            <label class="checkbox-label checkbox-label-white">
              <input class="checkbox checkbox-white" type="checkbox" required value="yes">
              <span></span>
              <span>I agree to the processing of personal data</span>
            </label>
            <button class="button">Submit</button>
          </form>
        </div>
        <div class="contacts-background">
          <div class="contacts-content">
            <h3 class="contacts-subtitle">
              Rostov-on-Don, Nansen St., 239 Shopping Center Decorum
              <br>Tel +7 (928) 768 32 29
            </h3>
            <div class="contacts-icons-block">
              <a href="mailto:nobody@response.com"><div class="contacts-icon contacts-icon_mail"></div></a>
              <a href="https://instagram.com"><div class="contacts-icon contacts-icon_instagram"></div></a>
            </div>
            <div class="map"></div>
          </div>
        </div>
      </section>
  </main>
  <footer class="footer">
    <div class="header-footer-content">
      <div class="logo">
        IC "Repair Design Project"
      </div>
      <nav>
        <ul class="nav-list">
          <li class="nav-list__item"><a class="nav-list__link" href="./index.html">HOME</a></li>
          <li class="nav-list__item"><a class="nav-list__link" href="./index.html#projects">PROJECTS</a></li>
          <li class="nav-list__item"><a class="nav-list__link" href="./index.html#measurement">MEASUREMENT</a></li>
          <li class="nav-list__item"><a class="nav-list__link" href="#">TEAM</a></li>
          <li class="nav-list__item"><a class="nav-list__link" href="./index.html#reviews">REVIEWS</a></li>
          <li class="nav-list__item"><a class="nav-list__link" href="./index.html#contacts">CONTACTS</a></li>
        </ul>
      </nav>
      <a class="tel" href="tel:+79287683239">+7 (928) 768-32-39</a>
      <button class="button">Request a call</button>
    </div>
  </footer>
</body>
</html>